<h4> Add a Comment: </h4>

<%= form_for [topic, post, post.comments.build] do |f| %>
  <div>
    <%= f.label :Body %>
    <%= f.text_area :body, class: 'form-control'%>
    <%= f.submit "Create Comment"%>
  </div>
<% end %>
